:root {
  --main-font-family: "Barlow", sans-serif;
  --default-background-color: #030201;
}

.hero {
  background-image: url("images/dark-bass.PNG");
  background-color: var(--default-background-color);
  background-position: center;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--main-font-family);
}
.hero a {
  margin-top: 50px;
}
.headlines {
  padding: 50px;
  color: rgb(209, 212, 212);
}

.home-pic {
  max-width: 600px;
  margin-top: 50px;
  border-radius: 20px;
  display: flex;
  height: auto;
}

.quote {
  text-align: center;
  margin: 50px;
  font-style: italic;
  font-size: 30px;
  opacity: 50%;
}

h2 {
  font-family: var(--main-font-family);
  text-align: center;
  padding: 150px;
}
