:root {
  --main-font-family: "Barlow", sans-serif;
  --default-background-color: #030201;
}

.hero {
  background-image: url("images/dark-bass.PNG");
  background-color: var(--default-background-color);
  background-position: center;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;

  font-family: var(--main-font-family);
}
.hero a {
  margin-top: 50px;
}
.headlines {
  padding: 50px;
  color: rgb(209, 212, 212);
}

.home-pic {
  max-width: 400px;
  margin-top: 50px;
  border-radius: 20px;
  display: flex;
  height: auto;
}

h2 {
  padding: 150px;
  font-family: var(--main-font-family);
}

.quote {
  text-align: center;
  margin: 50px;
  font-style: italic;
  font-size: 30px;
  opacity: 50%;
}

@media (max-width: 992px) {
  .hero {
    background-color: var(--default-background-color);
    background-blend-mode: soft-light;
    margin-right: -300px;

    background-size: cover;
  }
  .headlines {
    padding: 200px;
    text-align: center;
  }

  h2 {
    display: none;
  }
  .quote {
    margin: 20px;
    text-align: center;
  }
  .home-pic {
    margin-left: 200px;
  }
}

@media (max-width: 1400px) {
  .home-pic {
    height: 300px;
    margin: 5 auto;
  }
  h2 {
    padding: 120px;
  }
}
