.hero {
  background-image: url("images/dark-bass.PNG");
  background-color: #cccccc;
  background-position: center;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
  font-family: "Barlow", sans-serif;
}
.hero a {
  margin-top: 50px;
}
.headlines {
  padding: 50px;
}

img {
  height: 400px;
  margin-top: 50px;
  border-radius: 20px;
}

h2 {
  padding: 150px;
  font-family: "Barlow", sans-serif;
}

.quote {
  text-align: center;
  margin: 50px;
 font-style: italic;
 font-size: 30px;
 opacity: 50%;
}
